.login {
	@include relative-elem;
	height: 100vh;
	background-image: url('../images/backgrounds/1.jpg');
	background-position: center center;
	background-size: cover;
	z-index: 1001;

	header {
		float: left;
		line-height: 100px;
	}

	.buttons .button{
		margin: 40px 10px 0;
	}
	
	.title {
		font-family: $fontFamily4;
		font-size: 72px;
		color: #fff;
		letter-spacing: 1.1px;
		user-select: none;

		.subTitle {
			font-family: $fontFamily1; 
			font-size: 12px;
			letter-spacing: 7.7px;
			line-height: 0px;
		}
	}

	canvas {
		width: 100%;
		height: 100%;
		opacity: .5;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: transparent;
	}
}