/*======================================
=            Margin Helpers            =
======================================*/

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.m-10 {
    margin-top: 10px;
}

/*=====  End of Margin Helpers  ======*/

/*===============================
=            Padding            =
===============================*/

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.p-10 {
    padding: 10px;
}

/*=====  End of Padding  ======*/

/*===================================
=            Middle Area            =
===================================*/

.middle-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1001;
}

/*=====  End of Middle Area  ======*/

