/*========================================
=            Relative Element            =
========================================*/

@mixin relative-elem {
	position: relative;
	float: left;
	width: 100%;
}

@mixin top-fixed-elem {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

/*=====  End of Relative Element  ======*/
