/*==============================
=            Colors            =
==============================*/

$colorPrimary: #999;
$colorSecondary: #000;
$successColor: #00af40;
$fontColor: #303030;

/*=====  End of Colors  ======*/

/*=====================================
=            Media Queries            =
=====================================*/

$minLg: 1200px;
$minMd: 992px;
$minSm: 768px;
$maxMd: 1199px;
$maxSm: 991px;
$maxXs: 767px;

/*=====  End of Media Queries  ======*/

/*====================================
=            Brand Colors            =
====================================*/

$twitter: #55acee;
$linkedin: #0077b5;
$facebook: #3b5998;
$behance: #1769ff;
$mail: #92cadc;
$google-plus: #dc4e41;
$instagram: #3f729b;

/*=====  End of Brand Colors  ======*/