.buttons {
	@include relative-elem;

	.buttons-center {
	    margin: 0 auto;
	    display: inline-block;
	}
}

.button {
	position: relative;
	float: left;
	min-width: 230px;
	height: 60px;
	line-height: 60px;
	border-radius: 6px;
	text-align: center;
	text-transform: uppercase;
	font-family: $fontFamily1;
	font-size: 12px;
	white-space: nowrap;
	box-shadow: 0px 10px 32px 0px rgba(0, 255, 96, 0.3);
	overflow: hidden;
	letter-spacing: 1.1px;
	transition: 300ms cubic-bezier(.4, 0, .2, 1);
	user-select: none;

	&.button1 {
		background-image: linear-gradient(90deg, rgba(0,255,82,1) 0%, rgba(0,255,198,1) 100%);
		color: #23278a;
	}

	&.button2 {
		border-left: 2px solid #00ff52;
		border-top: 2px solid #00ff52;
		border-right: 2px solid #00ff52;
		border-bottom: 2px solid #00ff52;
		color: #00ff59;
		line-height: 56px;
	}

	&:hover {
		box-shadow: 0px 10px 50px 0px rgba(0, 255, 96, 0.4);
	}
}